* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style: none;
}

html{
    font-size: 100px;
}
body {
    font-size: 26.27px;
}

.wrap {
    height: 1.5rem;
    background-color: black;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    
}

.nav {
    border: 5px solid #333;
    height: 1.5rem;
    width: 500%;
    position: absolute;
    top: 0;
    left: 0;
}

.nav li{
    text-align: center;
    line-height: 1.5rem;
    height: 100%;
    width: 20%;
    float: left;
}

.nav>li:nth-child(1){
    background-color: red;
}

.nav>li:nth-child(2){
    background-color: yellow;
}

.nav>li:nth-child(3){
    background-color: blue;
}

.nav>li:nth-child(4){
    background-color: red;
}

.nav>li:nth-child(5){
    background-color: yellow;
}

.spots {
    position: absolute;
    right: 10px ;
    bottom: 10px;
    
}
.spots li {
    width: 5px;
    height: 5px;
    display: inline-block;
    border-radius: 2px;
    border: 1px solid #fff;
    background-color: #333;
    transition: all .3s;
}
.wrap ol li.current {
    width: 20px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
    overflow: hidden;
    
}