* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style: none;
}

html{
    font-size: 100px;
}
body {
    font-size: 26.27px;
}

.wrap {
    height: 1.5rem;
    background-color: black;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    
}

.nav {
    height: 1.5rem;
    width: 500%;
    position: absolute;
    top: 0;
    left: 0;
}

.nav li{
    text-align: center;
    line-height: 1.5rem;
    height: 100%;
    width: 20%;
    float: left;
}

.nav>li:nth-child(1){
    background-color: red;
}

.nav>li:nth-child(2){
    background-color: yellow;
}

.nav>li:nth-child(3){
    background-color: blue;
}

.nav>li:nth-child(4){
    background-color: green;
}

.nav>li:nth-child(5){
    background-color: red;
}


