* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    display: inline-block;
}

a{
    text-decoration: none;
    color: #333;
}

ul , li{
    list-style-type: none;
}

.header {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    color: #fff;
}
#title {
    margin-left: 10px;
}

.wrap {
    background-color: rgb(146, 142, 138);
}

.todoList {
    width: 500px;
    color: black;
    padding: 20px;
    margin: 0 auto;
}

.todolist li {
    border: 1px solid #333;
    width: 500px;
    height: 20px;
    line-height: 20px;
    color: black;
    border: 1px solid #333;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

li a{
    align-self: flex-end;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: red;
    border: 1px solid #333;
}

#finished li{
    text-decoration: line-through;
}